* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f3f5fc;
}

#logo_alura {
    margin: 1rem;
    width: 5.5rem;
}

#content {
    display: flex;
    justify-content: space-evenly;
}

#container__area_text {
    width: 45rem;
    height: auto;
}

#write_area {
    border: none;
    color: #0a3871;
    height: 25.8rem;
    width: 100%;
    line-height: 150%;
    font-size: 1.6rem;
    text-transform: lowercase;
    background-color: inherit;
    resize: none;
}

#write_area:focus {
    outline: none;
}

#write_area::placeholder {
    color: #0a3871;
}

#info {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3px;
    margin: .3rem;
}

#info img {
    height: .8rem;
    width: auto;
}

#info p {
    font-size: .8rem;
}

#button_area {
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 18rem;
    height: 3.4rem;
    cursor: pointer;
    border: none;
    border-radius: 24px;
}

#code {
    color: #fff;
    background-color: #072b61;
    transition: .5s ease;
}

#code:hover {
    background-color: #166107;
}

#decode {
    color: #072b61;
    background-color: #d8dfe8;
    transition: .5s ease;
}

#decode:hover {
    color: #fff;
    background-color: #166107;
}

#container__area_message {
    width: 20rem;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    color: #343a40;
    box-shadow: 5px 5px 12px -8px #181818;
    background-color: #fff;
    gap: .5rem;
}

#container__area_message img {
    width: 18rem;
    height: auto;
}

#container__area_message h6 {
    text-align: center;
    font-size: 1.3rem;
}

#container__area_message p {
    font-size: .9rem;
    text-align: center;
}

#message_area {
    height: 80%;
    width: 90%;
    border: none;
    color: #0a3871;
    line-height: 150%;
    font-size: 1.3rem;
    resize: none;
}

#message_area:focus {
    outline: none;
}

#copy {
    color: #0a3871;
    background-color: #d8dfe8;
    transition: .5s ease;
}

#copy:hover {
    color: #fff;
    background-color: #072b61;
}

@media (max-width: 1050px) {
    #logo_alura {
        margin: .7rem;
    }

    #content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
    }
    
    #container__area_text {
        width: 95%;
    }
    
    #write_area {
        height: 25rem;
    }
    #button_area {
        display: flex;
        justify-content: space-around;
    }
    
    .btn {
        width: 18rem;
        height: 3.4rem;
    }

    #container__area_message {
        width: 95%;
        height: fit-content;
        gap: .3rem;
    }
    
    #container__area_message img {
        display: none;
    }
    
    #container__area_message h6 {
        margin-top: 1rem;
    }

    #container__area_message p {
        margin-bottom: 1rem;
    }
    
    #message_area {
        height: 13rem;
        width: 90%;
        line-height: 150%;
    }
}

@media (max-width: 425px) {
    #logo_alura {
        margin: .1rem;
        width: 4rem;
    }

    #write_area {
        height: 25rem;
    }

    #button_area {
        align-items: center;
        flex-direction: column;
        gap: .5rem;
    }
    
    #message_area {
        height: 23rem;
    }
}